<footer>
    <div class="left">
        <h3>Swap.</h3>
        <p> &copy; Copyright Troy Smith</p>
    </div>
    <div class="right">
        <a href="https://www.linkedin.com/in/troy-w-smith/" class="fa fa-linkedin"></a>
        <a href="https://www.facebook.com/TroySmith24" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/_troysmith_/" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/troy-w-smith/" class="fa fa-twitter"></a>
    </div>
</footer>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>
