<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <meta name="google-signin-client_id" content="965791184759-tgsho327qaevv7mqn21loun3t0p6u4ih.apps.googleusercontent.com">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a id="logo" href="dashboard">Swap.</a>
        <a href="depositwithdraw">Deposit/Withdraw</a>
        <a href="history">History</a>
        <a href="settings">Settings</a>
        <a href="logout" onclick="signOut();">Sign out</a>
    </div>
