<div class="page-container">
    <div class="topnav">
        <a href="dashboard">Dashboard</a>
        <li href="depositwithdraw">Deposit/Withdraw</li>
        <li href="friends">Friends</li>
        <li href="settings">Settings</li>
        <a href="logout">Logout</a>
    </div>
