<div class="page-container">
    <div class="topnav">
        <a href="dashboard">Dashboard</a>
        <a href="depositwithdraw">Deposit/Withdraw</a>
        <a href="friends">Friends</a>
        <a href="settings">Settings</a>
        <a href="logout">Logout</a>
    </div>
