<% include ./partials/head %>
    <% include ./partials/topnav %>
        <div class="friendpage">
            <div class="pageheader">
                <h2>User List</h2>
            </div>

            <div class="friendsearchdiv">
                <h3>Search for a friend by entering their username</h3>
                <input type="text" id="ajax" list="friend-list" name="username search" placeholder="username">
                <datalist id="friend-list">
                    <% users.forEach(user => { %>
                        <option value="<%= user.username %>">
                            <%= user.username %>
                        </option>
                        <% }) %>
                </datalist>
            </div>

            <div class="userlistdiv">
                <ul class="userlist">
                    <% users.forEach(user => { %>
                        <li value="<%= user.username %>">
                            <%= user.username %>
                        </li>
                        <% }) %>
                </ul>
            </div>

        </div>


        <% include ./partials/footer %>
