<% include ./partials/head %>
<div class="launchpage">
  <div class="appdescription">
    <p>Exchange cryptocurrency with friends easier than ever before </p>
  </div>
  <div class="loginregisterdiv">
    <div class="logindiv">
      <h2>Sign in to Wiggle</h2>
      <form class="loginform" action="/login" method="POST">
        <div>
          <input type="text" name="username" placeholder="username" />
        </div>
        <div>
          <input type="text" name="password" placeholder="password"/>
        </div>
        <div class="submitdiv">
          <button>Login</button>
        </div>
      </form>
    </div>
    <div class="registerdiv">
      <h2>Create a new account</h2>
      <form class="registerform" action="/register" method="POST">
        <div>
          <input type="text" name="username" placeholder="username"/>
        </div>
        <div>
          <input type="text" name="password" placeholder="password" />
        </div>
        <div class="submitdiv">
            <button>Register</button>
        </div>
      </form>
    </div>
  </div>
    <% include ./partials/footer %>
