<% include ./partials/head %>
  <div class="appdescription">
    <p>Exchange cryptocurrency with friends easier than ever before </p>
  </div>
  <div class="loginregisterdiv">
    <div class="logindiv">
      <h2>Login</h2>
      <form class="loginform" action="/login" method="POST">
        <div>
          <p>Username: </p>
          <input type="text" name="username" />
        </div>
        <div>
          <p>Password: </p>
          <input type="text" name="password" />
        </div>
        <div class="submitdiv">
          <input type="submit" />
        </div>
      </form>
    </div>
    <div class="registerdiv">
      <h2>Register</h2>
      <form class="registerform" action="/register" method="POST">
        <div>
          <p>Username: </p>
          <input type="text" name="username" />
        </div>
        <div>
          <p>Password: </p>
          <input type="text" name="password" />
        </div>
        <div>
          <p>First Name: </p>
          <input type="text" name="fname" />
        </div>
        <div>
          <p>Last Name: </p>
          <input type="text" name="lname" />
        </div>
        <div>
          <p>Email: </p>
          <input type="text" name="email" />
        </div>
        <div class="submitdiv">
          <input type="submit" />
        </div>
      </form>
    </div>
    </body>

    </html>
