/* whole site elements style */

body {
  background-color: #A8D0E6;
  font-family: 'Jua', sans-serif;
  color: white;
  text-align: center;
  overflow: scroll;
}

.launchpage {
  max-width: 1000px;
}

.dashboardpage {
  max-width: 1000px;
}

.pageheader {
  margin: 30px auto;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 12px;
}

input {
  background-color: #F8E9A1;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  font-size: 15px;
}

input:focus {
  height: 40px;
}

button {
  background: #F76C6C;
  color: white;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-family: 'Jua', sans-serif;
}

button:hover {
  background: rgb(255, 54, 54);
}

/* header  */
header {
  height: 75px;
  font-size: 40px;
}

.appname {
  position: absolute;
  top: 2%;
  left: 2%;
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  color: white;
  text-align: left;
  font-size: 40px;
  color: F7;
}



/* top nav bar */
.topnav {
  overflow: hidden;
  background: #374785;

  /* width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style-type: none; */
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F76C6C;
  color: black;
}

.topnav .burger {
  display: none;
}




/* login or register page */
.appdescription {
  font-size: 35px;
  text-align: center;
  padding: 20px;
}

.loginregisterdiv {
  width: 50%;
  text-align: center;
  margin: auto;
}

.loginregisterdiv p {
  padding: 5px;
}

.submitdiv {
  margin: 10px;
}

.logindiv {
  padding: 20px;
  background: #374785;
  margin: 30px auto;
  border-radius: 25px;
  min-width: 250px;
  min-height: 200px;
}

.logindiv * {
  padding: 5px;
}

.registerdiv {
  padding: 20px;
  background: #374785;
  margin: 50px auto;
  border-radius: 25px;
  min-width: 250px;
  min-height: 200px;
}

.registerdiv * {
  padding: 5px;
}






/* dashboard page */
.usergreet {
  margin: 20px;
}

.paymentdiv {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 50%;
  text-align: left;
  font-size: 20px;
}

.paymentdiv * {
  margin: 5px;
  width: 250px;
  text-align: center;
}

.paymentinfo {
  /* display: flex;
  justify-content: center; */
  padding: 40px;
}

.paymentinfo * {
  width: 120px;
  height: 40px;
}

.activitywalletdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  text-align: center;
}

.activityfeed {
  height: 80%;
  width: 45%;
  border-radius: 25px;
  background-color: #374785;
  overflow: scroll;
}

.activityfeed * {
  margin: 15px auto;
  width: 95%;
}

.walletbalancesdiv {
  height: 80%;
  width: 45%;
  border-radius: 25px;
  background-color: #374785;
  overflow: scroll;
}

.walletbalancesdiv h2 {
  margin: 15px auto;
}

.coinnameamount {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.coinnameamount * {
  margin: 20px;
  font-size: 30px;
}




/* friend page */

.friendsearchdiv * {
  margin: 10px;
}

.userlist *:hover {
  color: #F76C6C;
}

.userlist li {
  font-size: 30px;
  margin: 10px;
}


/* Deposit Withdraw Page  */
.container {
  width: 100%;
  margin: auto;
}

.deposit {
  float: left;
  width: 40%;
  height: 400px;
  margin: 1%;
  padding: 10px;
  background-color: #374785;
  overflow-wrap: break-word;

}

.deposit * {
  margin: 20px;
}

.withdraw {
  float: right;
  width: 40%;
  height: 400px;
  margin: 1%;
  padding: 10px;
  background-color: #374785;
}

.withdraw * {
  margin: 20px;
}

.withdraw input {
  width: 80%;
  border-radius: 0px;
}

.warning {
  color: red;
}


/* settings page */


.profilesettings {
  padding: 20px;
  background: #374785;
  margin: 30px;
  border-radius: 25px;

}

.profilesettings * {
  padding: 5px;
  width: 300px;
}

.profilesettings button {
  width: 200px;
}

.deletediv {

}

/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  color: white;
  text-align: center;
}

footer * {
  margin: 10px;
}




