/* whole site elements style */

body {
  background-color: #A8D0E6;
  font-family: 'Jua', sans-serif;
  color: white;
  text-align: center;
  overflow: auto;
}

.pageheader {
  margin: 30px auto;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 12px;
}

input {
  background-color: #F8E9A1;
  border: none;
  width: 85%;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  text-align: left;
}

button {
  background: #F76C6C;
  color: white;
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-family: 'Jua', sans-serif;
}

button:hover {
  background: rgb(255, 54, 54);
}


/* top nav bar */
.topnav {
  overflow: auto;
  background: #374785;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: space-around;
}

.topnav * {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  width: 20%;
  padding: 27px 0;
}

#logo {
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  font-size: 40px;
  background-color: transparent;
  padding: 12px 0;
}

.topnav a:hover {
  background-color: #F76C6C;
}




/* login or register page */
.appdescription {
  font-size: 35px;
  padding: 20px;
}

.loginregisterdiv {
  width: 500px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .loginregisterdiv {
    width: 80%;
  }
}

@media screen and (min-width: 800px) {
  .loginregisterdiv {
    width: 600px;
  }
}

.submitdiv {
  margin: 10px;
}

.logindiv {
  padding: 20px;
  background: #374785;
  margin: 30px auto;
  border-radius: 25px;
  /* min-width: 250px;
  min-height: 200px; */
}

.logindiv * {
  padding: 5px;
}

.registerdiv {
  padding: 20px;
  background: #374785;
  margin: 30px auto;
  border-radius: 25px;
  /* min-width: 250px;
  min-height: 200px; */
}

.registerdiv * {
  padding: 5px;
}




/* dashboard page */
.dashboardpage {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap;
}

.topdiv {
  width: 85%;
  height: 100px;
  margin: 30px auto auto auto;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 40px;
}

.container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.userbalancecard {
  width: 25%;
  height: 100%;
  background: #374785;
  border-radius: 15px;
}

.userbalancecard * {
  margin: 8px auto;
}

.userbalancecard img {
  margin: 18px 8px auto;
  width: 30%;
  height: 40%;
}

.emptydiv {
  width: 1%;
  height: 100%;
  border-radius: 15px;
}

.paymentdiv {
  width: 59%;
  height: 100%;
  border-radius: 15px;
  background: #374785;
}

.paymentdiv * {
  margin: 5px auto;
}

#exchange {
  margin: 12px auto;
}

#usernamepayment {
  width: 70%;
  margin: 0 5px 0 0;
}

#amount {
  width: 15%;
}

.activityfeed {
  width: 85%;
  height: 600px;
  background: #374785;
  margin: 10px auto;
  overflow: auto;
  border-radius: 15px;
}

.activityfeed h2 {
  margin: 10px auto;
}

hr {
 width: 90%;
}

.transactionlist li {
  display: flex;
  margin: 0 0 0 10px;
}

.left {
  width: 20%;
}

.middle {
  width: 60%;

}
.right {
  width: 20%;
  text-align: left;
}

li img {
  width: 30px;
  height: 30px;
}

#timestamp {
  margin: 2px 0 0 0;
}









/* .paymentdiv {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  font-size: 20px;
}

.paymentdiv * {
  margin: 10px;
}

.activitywalletdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  height: 550px;
  margin: 20px auto;
}

.activityfeed {
  height: 60%;
  width: 80%;
  background-color: #374785;
}

.activityfeed * {
  margin: 15px auto;
  width: 95%;
}

.walletbalancesdiv {
  height: 20;
  width: 80%;
  border-radius: 25px;
  background-color: #374785;
  overflow: auto;
}

.walletbalancesdiv h2 {
  margin: 15px auto;
}

.coinnameamount {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.coinnameamount * {
  margin: 20px;
  font-size: 30px;
} */






/* friend page */

.friendsearchdiv * {
  margin: 10px;
}

.userlist *:hover {
  color: #F76C6C;
}

.userlist li {
  font-size: 30px;
  margin: 10px;
}

/* Deposit Withdraw Page  */
.container {
  width: 100%;
  margin: auto;
}

.deposit {
  float: left;
  width: 35%;
  height: 500px;
  margin: 25px auto auto 10%;
  padding: 10px;
  background-color: #374785;
  overflow-wrap: break-word;
}

.deposit * {
  margin: auto;
}

.withdraw {
  float: right;
  width: 35%;
  height: 500px;
  margin: 25px 10% auto auto;
  padding: 10px;
  background-color: #374785;
}

.withdraw * {
  margin: 20px;
}

.withdraw input {
  width: 80%;
  border-radius: 0px;
}

.warning {
  color: red;
}




/* settings page */
.profilesettings {
  padding: 20px;
  background: #374785;
  margin: 70px;
  border-radius: 25px;
}

.profilesettings * {
  padding: 10px;
}



/* 
/* footer */
footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:70px;
  width:100%;
  background: #374785;
  margin: auto;
}

/* footer * {
  margin: 10px auto;
} */

footer .left {
 width: 50%;
 text-align: left;
 float: left;
 height: 100%;
}

footer .left * {
  margin: 10px auto auto 20px;
}

footer .right {
  width: 50%;
  text-align: right;
  float: right;
  height: 100%;
}


/* Style all font awesome icons */
.fa {
  padding: 30px;
  font-size: 30px;
  width: 7px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}




/* error messages */

.error {
  color: red;
} */ */

