<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="page-container">
      <h2 class="page-title"><%= category.name %></h2>
      <% quotes.forEach(quote => { %>
        <blockquote><%= quote.author %> says: <%= quote.content %></blockquote>
      <% }) %>
    </div>
  </body>
</html>
