<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="page-container">
      <h2 class="page-title">Write a new quote!</h2>

      <form action="/quotes" method="POST">
        <label>Author</label>
        <input type="text" name="author" />
        <label>Content</label>
        <input type="text" name="content" />
        <label>Category ID</label>
        <input type="number" name="category_id" />
        <button type="submit">Create Quote!</button>
      </form>
    </div>
  </body>
</html>
