<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="page-container">
      <h2 class="page-title">One single quote.</h2>
      <p><a href="/quotes/<%= quote.id %>/edit">✏️ edit</a></p>
      <blockquote><%= quote.author %> says: <%= quote.content %>!</blockquote>
    </div>

    <form method="POST" action="/quotes/<%= quote.id %>?_method=DELETE">
      <button type="Submit">DELETE THIS QUOTE FOREVER</button>
    </form>
  </body>
</html>
